RewriteEngine on

RewriteRule ^Home$ index.php

RewriteRule ^BraveFrontierWiki/([a-zA-Z_0-9]+)/([a-zA-Z]+)$ CACHE/$2/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^CACHE/([a-zA-Z]+)/([a-zA-Z_0-9]+).php$ PHP/CreaCache.php?Lin=$1&Pag=$2 [L]